"*":
  core:
    disabledPackages: [
      "dev-live-reload"
      "language-csharp"
      "language-clojure"
      "language-c"
      "about"
      "language-go"
      "language-hyperlink"
      "language-java"
      "language-less"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-ruby-on-rails"
      "welcome"
      "metrics"
      "linter-coffeescript"
      "open-on-github"
      "background-tips"
      "language-coffee-script"
    ]
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    projectHome: "/Users/noclat/Localhost"
  editor:
    fontFamily: "Operator Mono"
    fontSize: 17
    invisibles: {}
    softTabs: false
  "exception-reporting":
    userId: "76f26d32-b835-c2d0-c80d-b92e5ccd2108"
  minimap: {}
  "remote-edit": {}
  "remote-sync": {}
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
    runOnSave: false
  "tree-view": {}
  welcome:
    showOnStartup: false
